@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Share+Tech&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 40px;

  background: linear-gradient(
    to right,
    rgba(30, 30, 45, 0.9),
    rgba(50, 70, 85, 0.9)
  );

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.menu-info h1 {
  color: rgb(215, 224, 230);
  font-size: 35px;
  margin: 0;
}



nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0 15px;
}

li a {
  color: rgb(155, 214, 238);
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

li a:hover {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.search-bar {
  display: flex;
  align-items: center;
}


@media (max-width: 768px) {
  .main-menu {
    padding: 10px 15px; 
  }

  .menu-info {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .menu-info h1 {
    font-size: 28px;
  }

  nav {
    flex-direction: column; 
    width: 100%;
    gap: 15px;
  }

  .search-bar {
    width: 100%;
    order: 1; 
  }

  .input-busca {
    width: 90%;
    max-width: 300px; 
    height: 40px; 
    text-align: center;
  }

  nav ul {
    order: 2; 
    justify-content: center;
    gap: 10px;
  }

  li {
    padding: 0 8px; 
  }

  li a {
    font-size: 16px;
  }
}